<div>div-為一整個區塊 - block(區塊元素) 
    可以包span</div>

<span>span只有包含文字 
    不能包div 
    span為最小元素 
    較常用在包變數</span>
    <br>就像是enter，讓span裡一整行文字可以換行，因為span為inline(行內元素)

<img src=""alt="">

<table></table>
<tr>
    是指一列
</tr>

<td></td>

<th>是指表頭</th>

此為table架構，但需要寫很多style才會符合想要的長相
所以在html中很多人會用div來寫出table的樣子

<ul>為solidbullet點點列表
    <li>為要有solidbullet的地方 (如那列不需要bullet但為下一行時，可以使用css寫不要點點的樣式</li>
    再多寫ul就會自動設成新的bullet層級，便變成空心層級
</ul>

solidbullet 跟 hollowbullet是一樣的html tag，但用css來做樣式變更 (實心是: 空心是:)

<span>在html中class寫連接css的樣式的層級小於httml內部寫的樣式，會導致寫class沒有用</span>

<sup>此為上標的tag</sup>

