/* ECA */
.pageECA{
  page:ECA;
}

@page {
  size: letter;
  background-color: #fff;
  margin-left:  2cm;
  margin-top: 1.51cm;
  margin-right: 1.98cm;
  margin-bottom: 2.11cm;
 }

@page ECA{
  size: letter;
  background-color: #fff;
  margin-left: 2cm;
  margin-top: 1.51cm;
  margin-right: 1.98cm;
  margin-bottom: 2.11cm;
  font-family: "Adobe Garamond", serif;;
  @bottom-left{
    content: string(timeStampECA);
    marign-top: 1.5cm;
    margin-bottom: -0.7cm;
    margin-left: -0.1cm;
    font-size: 16pt;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.5);
    width: 350px;
};

@bottom-right{
  content: string(rtfNameECA);
  marign-top: 1.5cm;
  margin-bottom: -0.7cm;
  margin-right: -7.9cm;
    font-size: 16pt;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.5);
}
}
/* for the page */
  /* first page footer */

.templeteShortName{
  position: absolute;
  text-align: left;
  z-index: 1;
  top: 24.46cm;
  left: 0.2cm;
  font-family: 'Times New Roman', Times, serif;
}

.underShortName{
  color: rgb(128, 128, 128);
  position: absolute;
  text-align: left;
  z-index: 2;
  top: 25cm;
  left: 0.2cm;
  font-family: 'Times New Roman', Times, serif;
  -webkit-print-color-adjust:exact;
}
.timeStamp{
  string-set:timeStampECA content(text);
  position: absolute;
  left: -0.1cm;
  text-align: left;
  z-index: 3;
  top: 25.5cm;
}
.letterId{
  string-set:rtfNameECA content(text);
  position: absolute;
  left: 13.7cm;
  text-align: left;
  z-index: 4;
  top: 25.5cm;
  white-space:nowrap;
}


  /* mail Info */

  .mail_Content{
    padding-left: 0cm;
    margin-top: 2.95cm;
    /* padding-right: 0.27cm; */
  }

  .mailingInformation{
    margin-bottom: 1.88cm;
  }

  .recipiet{
    margin-bottom: 0.7cm;
  }

.recipietContainer {
  margin-left: -0.8cm;
}

.sup{
  display: inline-block;
  -webkit-text-size-adjust:none;
  font-size: 12pt;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.marign_left{
  margin-left: -0.15cm;
}

.export {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #c7d4e8;
  border: none;
  padding: 10px;
  border-radius: 4px;
  /* border-bottom: 4px solid #b02818; */
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* 03-02 */

.mail_Content{
  padding-left: 0cm;
}

.logo_size{
  width: 8.89cm;
  height: 3.31cm;
  margin-left: -1.36cm;
}
