<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homework0517</title>
</head>

<body>
    <!-- 第1層-------------------------------------------------------------------------------------- -->
    <div class="leaf_textBox">
        <div class="leaflogo"><img class="leafImg" src="./assets/icon-thumbnail_3拷貝.png"></div>
        <div class="leaftext">Dorrit Studio</div>

    </div>
    <hr class="hr1">

    <!-- 第2層-------------------------------------------------------------------------------------- -->
    <div class="articleBox">
        <div class="textbox">
            Lorem ipsum dolor sit amet, consectetur elit.
            Aenean hendrerit leo a est laoreet, id rhoncus.
            Vivamus vel nunc vitae risus consectetur efficitur.
            Donec malesuada metus at nibh finibus,
            <span class="keyword">eget feugiat</span> ex posuere.
        </div>
    </div>
    <hr class="hr1">

    <!-- 第3層-------------------------------------------------------------------------------------- -->
    <div class="logox3">
        <div class="logo-L">
            <img class="Imglogo-L" src="./assets/Logo_TV_2015.png">
        </div>
        <div class="logo-C">
            <img class="Imglogo-C" src="./assets/Simple-clean-logo-for-Interior-Design-Company-1365041.png">
        </div>
        <div class="logo-P">
            <img class="Imglogo-P" src="./assets/svl5ykb5fd5qiusazsse.png">
        </div>

    </div>
    <hr class="hr1">

    <!-- 第4層-------------------------------------------------------------------------------------- -->
    <div class="LoremTableBOX">
        <table>
            <caption>Lorem</caption>
            <tr>
                <th>NAME</th>
                <th>AGE</th>
                <th>ID</th>
                <th>NOTE</th>
            </tr>

            <tbody>
                <ng-container *ngFor="let aLorem of LoremList">
                    <tr>
                        <td class="LoremTBody1">{{aLorem.LNAME}}</td>
                        <td class="LoremTBody2">{{aLorem.LAGE}}</td>
                        <td class="LoremTBody3">{{aLorem.LID}}</td>
                        <td class="LoremTBody4">{{aLorem.LNOTE}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="table2">
        <table class="MiniHugTable">
            <tr>
                <td><img class="MiniHug" src="./assets/MiniHugBlue.webp"></td>
                <td><img class="MiniHug" src="./assets/MiniHugPink.webp"></td>
            </tr>
            <tr>
                <td><img class="MiniHug" src="./assets/MiniHugGreen.webp"></td>
                <td><img class="MiniHug" src="./assets/MiniHugPurple.webp"></td>
            </tr>
        </table>

    </div>












</body>

</html>