<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<div class="Box">
<div class="Box1">AAAA

<div class="Box2">AAAA</div></div>
</div>





</head>
<body>





















<!-- <div class="page"></div> -->

<!-- <div class="pageAAA"></div> -->

<!-- <div class="pageAAAAA"></div> -->

<div class="AAA">
    <!-- 第1頁 -->
    <p class="footerText">11111</p>
    
    <!-- 第2頁 -->
    <div class="page_break"></div>
    <div>22222</div>
   
    <!-- 第3頁 -->
    <div class="page_break"></div>
    <div>33333</div>

</div>
</body>
</html>






