<div class="page">
    <!-- content -->
    <!-- logo part -->
    <div>
        <div class="logoText">Dorrit Studio</div>
        <img class="logoImg" [src]="'./assets/icon-thumbnail_3.png'"  alt="">
    </div>
    <!-- text -->
    <div class="contentText">
        Lorem ipsum dolor sit amet, consectetur elit.
        <br>Aenean hendrerit leo a est laoreet, id rhoncus.
        <br>Vivamus vel nunc vitae risus consectetur efficitur.
        <br>Donec malesuada metus at nibh finibus, eget feugiat ex posuere.
    </div>
    <!-- 3 logos -->
    <table class="logos">
        <tr>
            <td> <img class="Img3logo" [src]="'./assets/Logo_TV_2015.png'"  alt=""> </td>
            <td> <img class="Img3logo" [src]="'./assets/Simple-clean-logo-for-Interior-Design-Company-1365041.png'"  alt=""> </td>
            <td> <img class="Img3logo" [src]="'./assets/svl5ykb5fd5qiusazsse.png'"  alt=""> </td>
        </tr>
    </table>
    <img [src]=""  alt="">
    
        <!-- table title -->
        <div class="tableTitle">Lorem</div>
        <!-- table content -->
        <table class="table">
            <thead class="tableHead">
                <tr>
                    <td class="column1">NAME</td>
                    <td class="column2">AGE</td>
                    <td class="column3">ID</td>
                    <td class="column4">NOTE</td>
                </tr>
            </thead>
            <tbody class="tableBody">
                <tr>
                    <td>JAXX</td>
                    <td>12</td>
                    <td>1384773</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ROSY</td>
                    <td>30</td>
                    <td>1384773</td>
                    <td></td>
                </tr>
                <tr>
                    <td>MARTY</td>
                    <td>10</td>
                    <td>1384773</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!-- 4 empty cells -->
        <table>
            <tr>
                <td>123</td>
                <td>456</td>
            </tr>
            <tr>
                <td>789</td>
                <td>000</td>
            </tr>
        </table>
    
</div>