<div class="page">
    <img class="picture1" src="../../../../assets/icon-thumbnail_3拷貝.png">
    <div class="header footer">Dorrit Studio</div>
    <hr class="line line1"/>
    <div class="bodytext">
        <div>Lorem ipsum dolor sit amet, consectetur elit.</div>
        <div>Aenean hendrerit leo a est laoreet, id rhoncus.</div>
        <div>Vivamus vel nunc vitae risus consectetur efficitur.</div>
        <div>Donec malesuada metus at nibh finibus,</div>
        <div>eget feugiat ex posuere. </div>
    </div>
    <hr class="line"/>  
    <div class="picturegroup">
        <img class="picture2" src="../../../../assets/Logo_TV_2015.png">
        <hr class="vertical vertical-1"/>
        <img class="picture3" src="../../../../assets/Simple-clean-logo-for-Interior-Design-Company-1365041.png">
        <hr class="vertical vertical-2"/>
        <img class="picture4" src="../../../../assets/svl5ykb5fd5qiusazsse.png">
    </div>
    <hr class="line"/>
    <div class="subheader">Lorem</div>
    <table class="table1">
        <tr class="row-1">
            <th class="column-1 bodytext">NAME</th>
            <th class="column-2 bodytext">AGE</th>
            <th class="column-3 bodytext">ID</th>
            <th class="column-4 bodytext">NOTE</th>
        </tr>
        <tr class="row2-4">
            <td class="column-1 bodytext">JAXX</td>
            <td class="column-2 number">12</td>
            <td class="column-3 number">1384773</td>
            <td class="column-4"></td>
        </tr>
        <tr class="row2-4">
            <td class="column-1 bodytext">ROSY</td>
            <td class="column-2 number">30</td>
            <td class="column-3 number">1384773</td>
            <td class="column-4"></td>
        </tr>
        <tr class="row2-4">
            <td class="column-1 bodytext">MARTY</td>
            <td class="column-2 number">10</td>
            <td class="column-3 number">1384773</td>
            <td class="column-4"></td>
        </tr>
    </table>
    <table class="table2">
        <tr class="row">
            <td clsaa="column">哦哦作業寫完了！</td>
            <td class="leftline column">差點忘記這邊要打字</td>
        </tr>
        <tr class="centerline row">
            <td>要打字，但是不知道要打甚麼字</td>
            <td class="leftline">啊啊最後一格了，完成！</td>
        </tr>
    </table>
    <hr class="line line4"/>
</div>
